<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base.html}">
<head>
    <title>Package Overview</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Package Overview</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Package Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="package : ${packages}">
            <td><a th:href="@{'/docs/package/' + ${package.name}}" th:text="${package.name}"></a></td>
            <td th:text="${package.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>